@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "react-alice-carousel/lib/alice-carousel.css";
.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.navBar,
.footerSection {
  background-color: #034ea2;
  transition: 0.7s;
}

.link {
  color: #ffffff;
}

.link:hover {
  color: #152525;
}

.openCollapse {
  margin-left: 72%;
  margin-top: 25px;
}

.color {
  background-color: #034ea2;
}

.logoColor {
  color: #034ea2;
}

.toggleLogo {
  font-size: 3vh;
}

.homeSection,
.servicesSection {
  height: 80vh;
}

.solutionsSection {
  height: 100%;
}

.carta {
  border-radius: 10%;
  transition: 0.5s;
  height: 100%;
}

.carta:hover {
  box-shadow: 0 0 34px 0 #034ea2;
}

.servicesSection {
  background-color: #33b4f0;
  height: 100%;
}

#boton {
  border: none;
  background: #ffffff;
  color: black;
  transition: 0.5s;
}

#boton:hover {
  background-color: #034ea2;
  color: white;
  transition: 0.5s;
}

.serviceName {
  margin-top: -50px;
}

.technologiesSection {
  background-color: #f8f8f8;
}

.imageTechSize {
  width: 150px;
  height: 100px;
}

.techCard {
  transition: 0.5s;
  height: 140px;
}

.techCard:hover {
  font-size: 25px;
}

.pagesSection {
  height: 100%;
}

.carouselImg {
  width: 600px;
  height: 500px;
}

.serviceImagen {
  width: 100%;
}

.linkService {
  height: 100vh;
}

.service {
  border-radius: 10%;
  transition: 0.5s;
  height: 100%;
}

.service:hover {
  transform: translate(0, -5%);
  box-shadow: 0 0 34px 0 #33b4f0;
}

.nosotros,
.pedro,
.daniel,
.lobelto {
  border-radius: 10%;
  transition: 0.5s;
  height: 100%;
}

.nosotros:hover {
  transform: translate(0, 5%);
  box-shadow: 0 0 34px 0 #33f05c;
}

.pedro:hover {
  transform: translate(-5%, -5%);
  box-shadow: 0 0 34px 0 #f03333;
}

.lobelto:hover {
  transform: translate(0, 5%);
  box-shadow: 0 0 34px 0 #8b33f0;
}
.daniel:hover {
  transform: translate(5%, -5%);
  box-shadow: 0 0 34px 0 #e3f033;
}

@media only screen and (max-width: 600px) {
  .navBar {
    text-align: left;
  }
  .serviceButton,
  .footerMsg,
  .contactFooterLabel {
    display: none;
  }
  .serviceName {
    font-size: 20px;
    margin-top: -40px;
  }
  .homeSection {
    height: 85vh;
  }
  .carouselImg {
    width: 100%;
    height: 100%;
  }
  .footerSection {
    font-size: 10px;
  }
  .openCollapse {
    margin-left: 80%;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 1400px) {
  .homeSection {
    height: 50vh;
  }
  .openCollapse {
    margin-left: 80%;
    margin-top: 25px;
  }
}
