@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";
.App{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.navBar, .footerSection {
  background-color: #3c99c5;
  transition: .7s;
}

.link{
  color: #ffffff;
}

.link:hover{
  color: #152525;
}

.logoColor{
  color: #3c99c5;
}

.homeSection, .servicesSection{
  height: 80vh;
}

.solutionsSection{
  height: 110vh;
}

.carta{
  border-radius: 10%;
  transition: .5s;
}

.carta:hover{
  box-shadow: 0 0 34px 0 #3c99c5;
}

.servicesSection{
  background-color: #b4e7ff;
  height: 100%;
}

#boton{
  border: none;
  background: #ffffff;
  color: black;
  transition: .5s;
}

#boton:hover{
  background-color: #3c99c5;
  color: white;
  transition: .5s;
}

.serviceName{
  margin-top: -50px;
}

.technologiesSection{
  background-color: #f8f8f8;
}

.imageTechSize{
  width: 150px;
  height: 100px;
}

.techCard{
  transition: .5s;
  height: 140px;
}

.techCard:hover{
  font-size: 25px;
}

.carouselImg{
  width: 600px;
  height: 500px;
}

@media only screen and (max-width: 600px){
  .navBar{
    text-align: left;
  }
  .toggleLogo, .serviceButton, .footerMsg{
    display: none;
  }
  .homeSection{
    height: 85vh;
  }
  .solutionsSection{
    height: 100%;
  }
  .carouselImg{
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1400px){
  .homeSection{
    height: 50vh;
  }
  .solutionsSection{
    height: 80vh;
  }
}
